<div class="red-div">
  <h2>*ngFor - для перебора данных</h2>
  <!-- данный шаблон отобразится на странице в количетве равному количесвту элементов в массиве(три раза) -->
  <div *ngFor="let i of arr">
    <app-additional></app-additional>
  </div>
</div>


<div class="red-div">
  <h2>*ngIf - для условий</h2>
  <!-- данный шаблон отобразиться на странице если тру -->
  <div *ngIf="true">
    <app-additional></app-additional>
  </div>
</div>


<div class="red-div">
  <h2>Декоратор Input - для передачи данных дочерним компонентам</h2>
  <!-- в данный шаблон мы передаем данные(от родителя к дочернему) используя @Input в дочернем-->
  <h3>передаем статичные данные</h3>
  <div>
    <app-additional catName="Ася"></app-additional>
  </div>
  <!-- если хотим передать не просто статичные данные, то надо использовать []  -->
  <h3>передаем переменную</h3>
  <div>
    <app-additional [catName]="name"></app-additional>
  </div>
</div>


<div class="red-div">
  <h2>Декоратор Output и класс EventEmitter - для передачи данных основному компоненту</h2>
  <p>Часто в сложных приложениях стандартных событий бывает недостаточно и разработчикам приходится реализовывать собственные. За этот функционал отвечает класс EventEmitter.</p>
  <p>Output отправляет данные выставляя их в качестве производителей событий, обычно как объекты класса EventEmitter.</p>
  <!-- крч,все очень сложно, если кратко, у нас есть значение в дочернем элменте, и мы хотим получить его в основном, для этого в дочернем элеменете мы создаем поле с декоратором @Output()  -->
  <!-- это поле обычно типа EventEmitter, это клас для создания кстомных событий  -->
  <!-- дальше, мы используя свойства класса EventEmitter next или emit, передаем данные в основной элемент в виде $event -->
  <h3>во время инициализации дочернего элемента получаем в основной данные</h3>
  <div>
    <app-additional catName="Ася" (iEvent)="handelIEvent($event)"></app-additional>
    <p>hello {{kidName}}</p>
  </div>
  <!-- второй пример -->
  <!-- в нем мы передаем основному элементу куда в дочернем элементе кликнул пользователь  -->
  <h3>передаем информацию о событии из дочернего элемента в основной и уже там обрабатыыем событие</h3>
  <div *ngFor="let i of arrCatsName">
    <app-additional [catName]='i' (iEventClickCatsName)="handelClicCatsName($event)"></app-additional>
  </div>
  <p *ngIf="clicCatsName">Вы кликнули на {{clicCatsName}}</p>
</div>


<div class="red-div">
  <h2>Синтаксис для дата байдинга</h2>
  <!--  -->
  <div>
    <app-additional></app-additional>
  </div>
</div>

