<h1>A5</h1>

<h2>хуки жизненного цикла</h2>


<h2>ng-content</h2>

<div class="red-div">
  <app-parent>
  </app-parent>
</div>

<div class="red-div">
  <app-parent>
    и ng-content,если контент один то можно без селект
  </app-parent>
</div>

<div class="red-div">
  <app-parent>
    <div one> и еще ng-content с selectom </div>
  </app-parent>
</div>

<div class="red-div">
  <app-parent>
    <div two> и еще ng-content с другим selectom </div>
  </app-parent>
</div>


<h2>ng-container</h2>

<div class="red-div">
  <ng-container *ngIf="true">
    <ng-container *ngIf="true">
      hello, а в дереве только  это сообщение
    </ng-container>
  </ng-container>
</div>


<h2>ng-template</h2>
<h3>типо переменная для куска шалблона без логики</h3>

<p>ng-template и ngIf</p>
<div class="red-div" >
  <div *ngIf="isOk else noOk">
    ok
  </div>

</div>

<ng-template #noOk>
  no ok
</ng-template>

<p>переиспользование ng-template</p>
<div class="red-div" >
  <ng-template #test1>
    нас много
  </ng-template>

  <div *ngTemplateOutlet="test1"></div>
  <div *ngTemplateOutlet="test1"></div>
  <div *ngTemplateOutlet="test1"></div>
</div>


<p>ng-template и переменные</p>
<div class="red-div">

  <div>
    <div *ngTemplateOutlet="test2; context:obj"></div>
  </div>

  <ng-template #test2 let-count="say">
    наш контекст это -{{count}}
  </ng-template>


</div>
